.content {
  padding-bottom: 5.9rem;
  display: flex;
  justify-content: space-between;

  &__filter {
    max-width: 26%;
    margin-right: 5rem;
  }

  &__info {
    width: 100%;
  }

    &__buttons {
    margin-bottom: 2.9rem;
    width: 100%;
    height: 5.5rem;
    display: flex;
    border-radius: 1rem;
    border: 0.1rem solid #4e148c;
    overflow: hidden;
  }

  &__button {
    flex: 1;
    background-color: #e8ebf2;
    font-size: 1.6rem;
    font-weight: 700;
    color: #4e148c;
    &:nth-child(2) {
      border-left: 0.1rem solid #4e148c;
      border-right: 0.1rem solid #4e148c;
    }
  }

  &__tickets {
    margin-bottom: 7.4rem;
  }
}

.filter {
  margin-bottom: 4.7rem;
  padding: 1.9rem;
  background-color: #e8ebf2;
  border-radius: 1rem;

  &__title {
    margin-bottom: 2.9rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  &__items {
    margin: 0 auto;
    max-width: 15.8rem;
  }

  &__row {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2.2rem;
    }
  }

  &__rowcheckbox {
    appearance: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 0.4rem;
    accent-color: #e8ebf2;
    border: 1px solid #858ae3;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__rowcheckboxcircle {
    position: relative;
    appearance: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    accent-color: #e8ebf2;
    border: 1px solid #858ae3;
  }

  &__rowcheckboxcircle_after {
    &::after {
      content: "";
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #858ae3;
    }
  }

  &__rowtext {
    margin-left: 1.9rem;
    font-weight: 500;
    color: #858ae3;
  }
}

.ticket {
  width: 100%;
  min-height: 17.4rem;
  padding: 3.2rem 2.4rem 2.5rem;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  background-color: #e8ebf2;
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: 4.7rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	&:last-child {
		flex: 0 1 25%;
	}
  }

  &__price {
    margin-bottom: 2.5rem;
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__info {
    flex: 0 1 auto;
  }

  &__text {
    margin-bottom: 0.9rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #858ae3;
  }

  &__time {
    font-weight: 500;
  }
}

.button {
  width: 100%;
  height: 6.2rem;
  border-radius: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: #4e148c;
  color: #f7f9f7;
}

.filtermobile {
  display: none;
}


@media (max-width: 768px) {
  .content__filter {
    display: none;
  }

  .filtermobile {
    display: block;
    margin-bottom: 3.4rem;
    width: 100%;
    padding: 1.2rem 1.6rem 0 2.3rem;
    border-radius: 1rem;
    background-color: #4e148c;
    color: #f7f9f7;

    &__row {
      padding-bottom: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      margin-right: 1rem;
      font-weight: 500;
    }

    &__button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__buttontext {
      margin-right: 1.7rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    &__items {
      padding-bottom: 4.1rem;
      display: flex;
    }

    &__infomobile {
    display: none;
    }

    .filter {
	    margin-bottom: 0;
      padding: 0;
      display: block;
      background-color: inherit;
      &:not(:last-child) {
        margin-right: 6.6rem;
      }

      &__title {
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
      }

	  &__items {
		margin: 0;
	  }

      &__rowtext {
        color: #f7f9f7;
		
      }

      &__rowcheckbox {
        border: 0.1rem solid #f7f9f7;
		
      }

      &__rowcheckboxcircle {
        border: 0.1rem solid #f7f9f7;
      }

      &__rowcheckboxcircle_after {
        &::after {
          background-color: #f7f9f7;
        }
      }
    }
  }

  .ticket {
	&__item {
		&:last-child {
			text-align: center;
		}
	}
  }
}

@media (max-width: 650px) {
  .content {
    &__buttons {
      margin-bottom: 1.2rem;
      height: 4.2rem;
    }

    &__button {
      font-size: 1.2rem;
    }
  }

  .filtermobile {
    &__info {
      font-size: 1.2rem;
    }

    &__buttontext {
      display: none;
    }
    &__info {
      display: none;
    }
    &__infomobile {
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    }

    .filter {
      &__title {
        font-size: 2rem;
      }

      &__items {
        padding-bottom: 0;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
}

@media (max-width: 480px) {
	.filtermobile {
		.filter {
			&__title {
				font-size: 1.6rem;
				text-align: left;
			}

			&__rowtext {
				margin-left: 1rem;
				font-size: 1.4rem;
			}
		}
	}

	.ticket {
		&__company {
			max-width: 16rem;
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 448px) {
	.filtermobile {
		&__items {
			flex-direction: column;
		}

		.filter {
			&:not(:last-child){
				margin-right: 0;
				margin-bottom: 2.4rem;
			}

			&__rowtext {
				font-size: 1.6rem;
			}
		}
	}
	.ticket {
		padding: 1rem;
		min-height: 14rem;

		&__price {
			font-size: 2.8rem;
		}

		&__text,
		&__time {
			font-size: 1.2rem;
		}

		&__company {
			max-width: 13rem;
		}
	}
}